DRIVER_CLASS_NAME=c

RDS_HOST=
RDS_PORT=
RDS_DB_NAME=
RDS_USERNAME=
RDS_PASSWORD=

MYSQL_ROOT_PASSWORD=

JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRATION_IN=
JWT_REFRESH_TOKEN_EXPIRATION_IN=

REDIS_HOST=
REDIS_PORT=

# docker-compose
COMPOSE_BAKE=true